{% extends 'base.html' %}
{% block title %}User List{% endblock %}

{% block content %}
<h2>User List</h2>
<ul class="list-group">
    {% for account in accounts %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <div>
            <strong>{{ account.get_full_name|default:account.username }}</strong><br>
            <small>{{ account.email }}</small>
        </div>
        <div>
            <a href="{% url 'account_update' account.pk %}" class="btn btn-sm btn-warning">Edit</a>
        </div>
    </li>
    {% empty %}
    <li class="list-group-item">No accounts found.</li>
    {% endfor %}
</ul>


<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </span>
      </li>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <li class="page-item active">
          <span class="page-link">{{ num }}</span>
        </li>
      {% else %}
        <li class="page-item">
          <a class="page-link" href="?page={{ num }}">{{ num }}</a>
        </li>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </span>
      </li>
    {% endif %}
  </ul>
</nav>
{% endblock %}
