{% extends 'base.html' %}
{% block title %}User List{% endblock %}

{% block content %}
<h2>User List</h2>
<ul class="list-group">
    {% for account in accounts %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <div>
            <strong>{{ account.get_full_name|default:account.username }}</strong><br>
            <small>{{ account.email }}</small>
        </div>
        <div>
            <a href="{% url 'account_update' account.pk %}" class="btn btn-sm btn-warning">Edit</a>
        </div>
    </li>
    {% empty %}
    <li class="list-group-item">No accounts found.</li>
    {% endfor %}
</ul>
{% endblock %}
